*{font-family: 'Open Sans', sans-serif;}
body > .container{overflow: hidden;}
.nav-sm .main_container{transform: translateX(175px);}
.navbar{margin: 0;background: #fff;border: none;padding: 10px 0}
.navbar-default .navbar-nav > li > a {font-weight: bold;color: #090909;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background: #fff;color: #0099ff}
.left_col,.nav_title{background: #1b2133;}
.nav_title{border-bottom: 1px solid #12182a;}
.nav li.current-page {background: #0c1224;}
.nav.side-menu > li.current-page, .nav.side-menu > li.active {border-left: 5px solid #f45b63;border-right:none}
.filter select{width: inherit;float: left;border-radius: 20px;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/icon_down.png) 90% / 10% no-repeat #fff;padding-right: 20px;margin: 0 5px}
.filter select::-ms-expand {display: none;}
.filter select::after{}
section.slider .container-fluid{padding: 0}
#wallet{color: #fff;padding: 0 20px;margin: 20px 0 0;border-top: 1px solid #12182a}
.earn-money-button{text-transform: uppercase;border-radius: 20px;padding: 10px 20px;border: none;background: #00d664;color: #fff;font-size: 14px;margin: 40px 0}
.home-slider .banner-item{background: url(../images/slider.png) no-repeat;background-size: 100% 100%;padding: 40px 0}
.home-slider .banner-item h3{color: #fff;font-size: 30px;font-weight: bold;margin: 0 0 40px}
.home-slider .banner-item ul{margin:0 0 40px}
.home-slider .banner-item ul li{list-style: url(../images/check-icon.png);font-size: 30px;font-weight: bold}
.home-slider .banner-item .earn-money-button,.top-customer .earn-money-button{-webkit-box-shadow: 0 12px 6px -6px rgba(0,0,0,0.4);-moz-box-shadow: 0 12px 6px -6px rgba(0,0,0,0.4);box-shadow: 0 12px 6px -6px rgba(0,0,0,0.4);background: #fff;font-size: 25px;font-weight: bold;color:#0099ff}
.header .earn-money-button{margin-top: 5px;margin-bottom: 0;}
.benefit{padding: 50px 0}
.benefit .row{margin-top: 40px;margin-bottom: 40px}
h2.section-title{font-weight: bold;font-size: 45px;margin: 40px 0;}
.benefit h3{font-weight: bold;font-size: 24px;}
.benefit p{font-size: 16px}
section.top-customer{background: url(../images/worldmap.png) #fafafa no-repeat top right;font-size: 16px}
section.top-customer table,section.top-customer table > tbody > tr:nth-of-type(2n+1){background: #284a6f;color: #fff;margin: 0}
.top-customer-table{padding: 0 100px;}
.top-customer table tr > td{border: none;padding: 10px 20px}
.top-customer table tr > th{border-bottom: 1px solid;padding: 20px}
.top-customer h2{font-weight: bold;font-size: 45px;color: #284a6f}
.top-customer h3{color: #0099ff;font-size: 45px;font-weight: bold;white-space: nowrap;margin: 0;}
.top-customer p{margin: 0}
.top-customer .bonus{margin-top: 30px;margin-bottom: 30px;}
.border-right{border-right: 1px solid #ddd}
.earn-money-button.blue-button{background: #0099ff;color: #fff}
section.footer{background: #303030;padding: 50px 0}
section.footer .clearfix{height: 30px}
.footer .nav li a{color: #fff;font-weight:bold;font-size:14px}
ul.social{padding: 0}
ul.social li{float:left;list-style: none;border: 2px solid #fff;padding: 6px;width: 36px;height: 36px;text-align: center;margin-right: 10px;border-radius: 50%;}
ul.social i{color: #fff}
.copyright{color: #999999;font-size: 14px;margin-right: 50px}
.instruction{font-size: 16px;padding: 50px 0}
.instruction h4{color: #0099ff;font-size: 45px;font-weight: bold}
.instruction .video{padding-right:0}
.instruction .best-customer{background: #fafafa;margin-top:50px;padding: 20px}
.instruction .best-customer .name{font-weight: bold;}
.instruction .best-customer .name span{font-weight: normal;color: #979797}
.instruction .best-customer .comment{font-style: italic;}
.testimonial{background: url(../images/worldmap.png) #fafafa no-repeat top right;}
.testimonial .container-fluid{padding: 0}
.testimonial-slider .banner-item{margin: 100px 20px;background:#fff;padding: 40px;position: relative;font-size:16px}
.testimonial-slider .banner-item .name{font-weight: bold;}
.testimonial-slider .banner-item .address{font-weight: 200;color: #979797}
.testimonial-slider img{position: absolute;top:-35px;left: 50%;transform: translateX(-35px);}
.faqs .item{text-align: left;font-size: 16px}
.faqs .item .question{font-weight: bold;color: #284a6f}
.borderbox{-webkit-box-shadow: 3px 0px 18px rgba(0,153,255,0.1);-moz-box-shadow: 3px 0px 18px rgba(0,153,255,0.1);box-shadow: 3px 0px 18px rgba(0,153,255,0.1);}
.faqs .item .borderbox{padding: 10px;margin-right: 10px;margin-bottom: 10px}
.toggleFaq{text-transform: uppercase;border-radius: 20px;padding: 10px 20px;border: none;background: #00d664;color: #fff;font-size: 14px;}
#claimButton,#checkoutButton,.btn-request-checkout{border-radius: 20px;background: #0099ff;border: none;padding: 10px 40px;color:#fff}
#wallet #checkoutButton{padding: 10px 0;text-align: center;width: 100%}
.workplace{font-weight: bold;font-size:16px;background: #f2f6fc;padding: 0}
.workplace span{color: #f45b63}
.header-logo{background: #fff;padding: 30px;margin-bottom: 10px;}
.nav-sm .main_container .top_nav,.nav-sm .container.body .right_col{margin-left: 0;}
.nav-sm .container.body .col-md-3.left_col{width: 175px;left: -175px;}
.nav-sm .navbar.nav_title{width: 175px;}
.page-title{color: #0098ff;text-transform: uppercase;}
#checkout-popup .tab-content{border: 1px solid #ddd;border-top: none;padding: 20px;}
#checkout-popup .bank-info{font-size: 16px}
#checkout-popup .caution,#checkout-popup .bank-info span{color:#f45b63}
.checkout-history i{font-size: 20px}
.checkout-history i.fa-spinner{color: #ebde4d;}
.checkout-history i.fa-times-circle{color: #d75a4a}
.checkout-history i.fa-check-circle{color: #00d664}
.x_title h2{color:#0098ff;text-transform: uppercase;line-height: inherit;}
.x_title h2.caution{color: #d75a4a}
.event-date{color:#0098ff;font-weight:bold}
#totalBonusInput{color: #d75a4a;font-size:30px;width: 200px;text-align: center;margin-bottom: 50px}
#betTable{width: 100%;max-width: 500px;margin: 0 auto 30px;}
#betTable th{color:#0099ff;text-align: center;}
.workplace .betTime{color: #0099ff}
#checkBetButton{margin:0}
.checkBet{margin: 10px 0}
.checkBet span{color: #d75a4a}
.media .profile_thumb{border: none;padding: 0}
.media .profile_thumb img.img-circle.profile_img{margin: 0;width: 100%;}
ul.top_profiles{overflow: scroll;}
#wallet ul{padding-left: 20px}
#wallet p.title{color: #0098ff;padding: 0 10px;font-weight: 600;margin: 20px 0 5px;}
#wallet p.value{background: #313850;padding: 10px}
.nav.side-menu > li.highlight{background:#f45b63}
#coin_graph > div > img,#captcha_graph > div > img{display: none;}
.nav-sm .container.body .col-md-3.left_col{z-index: 1}
#navbar-footer .nav li a:hover{background: none;color: #0099ff}
.dataTables_wrapper{overflow-x: scroll;}
.daterangepicker.dropdown-menu{width:700px}
.slick-slide{overflow: hidden;}
#responsiveTabs table th{text-align: center;color: #0099ff}
.img-circle.profile_link_img{width: 100px;background: #fff;border: 1px solid rgba(52,73,94,0.44);padding: 4px;margin: 10px 0;}
.link-account .info{padding: 20px}
.link-account .info.not-available{}
.link-account .fb{border-right: 1px solid #E6E9ED}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
	display: inline-block;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
  color: #fff;
	cursor: pointer;
  text-decoration: none;
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
	color: #fff;
	cursor: pointer;
  text-decoration: none;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #0098ff;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #0967ff;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .home-slider .banner-item{background-size: auto 100%;}
  .top-customer-table{padding: 0}
  #instruction .col-xs-3{width: auto;}
  #checkBetButton{margin-top: 10px}
}
